.button {
  position: absolute;
  margin-top: 50rem;
  margin-left: 16rem;
  z-index: 9999;
  border: none;
  min-height: 5rem;
  min-width: 10rem;
  font-family: $primary-font-family;
  font-size: $primary-font;
  background-color: $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $fourth-color;
    transition: all 0.3s ease;
  }
}
