.supplements_img {
  object-fit: cover;
  height: 55%;
  overflow-y: hidden;

  &:hover {
    filter: blur(2px);
    transition: all 0.3s ease;
    z-index: 1;
  }
}

.items_img {
  object-fit: fill;
  height: 55%;
  overflow-x: hidden;

  &:hover {
    filter: blur(2px);
    transition: all 0.3s ease;
    z-index: 1;
  }
}

.clothes_img {
  object-fit: cover;
  height: 65.5%;

  &:hover {
    filter: blur(2px);
    transition: all 0.3s ease;
    z-index: 1;
  }
}
